#app{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #DADADA;
    width: 25%;
    border-radius: 6px;
    margin: 2rem auto;
    transition: 0.5s;
}

#app:hover{
    box-shadow: 0px 10px 15px #DADADA;
    transition: 0.5s;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.in-item, .reg-item{
    display: none;
}

.input-login{
    padding: 0 0.5rem;
    font-size: 0.5rem;
    width: 100%;
    height: 1.5rem;
    background: #FFFFFF;
border: 1px solid #E4E4E4;
box-sizing: border-box;
box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.09);
border-radius: 8px;
}

.card-header{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #373737;
}

.col-md-4{
    color: #373737;
    font-size: 0.7rem;
}

.form-check{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.7rem;
}

.form-check-input{
    cursor: pointer;
    width: 0.7rem;
    height: 0.7rem;
    font-size: 0.7rem;
}

.form-check-label{
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-primary{
    cursor: pointer;
    background: #5A9DE9;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 1rem;
    transition: 0.5s;
}

.btn-link{
    font-size: 0.7rem;
    transition: 0.5s;
}

.btn-link:hover{
    color: #EF6B6B;
    transition: 0.5s;
    text-decoration: underline;
}

.btn-primary:hover{
    box-shadow: 0px 7px 13px gray;
    transition: 0.5s;
}

.dropdown{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.card-header{
    border-bottom: 1px solid #DADADA;
}

.dropdown-item{
    font-weight: normal;
    transition: 0.5s;
}

.dropdown-item:hover{
    color: #EF6B6B;
    transition: 0.5s;
}


.product-item-lk{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0.5rem 0;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 0.5rem;
}

.name-lk{
    width: 65%;
    font-weight: normal;
}

.price-lk{
   font-weight: normal;
}