*{
    margin:0;
    padding:0;
}

html{
    font-size:187.5%;
}

body{
    overflow-x: hidden;
    background-color: #fff;
    color: #636b6f;
    width:100%;
    height:100%;
    font-family:'Montserrat';
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

img{
    max-width:100%;
}

.about-us-item{
    margin: 1rem 0;
    font-weight: 500;
}

.about-us-content{
    display: flex;
    flex-direction: column;
}


.full-width-header{
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #EEEEEE;
}

a,button{
    font:inherit;
    color:inherit;
    text-decoration:none;
}

ul{
    list-style:none;
}

a,button,input,textarea{
    outline:0;
    border:0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 84px;
}

.links > a, .login-links > a {
    color: #373737;
    padding: 0 1rem 0 0;
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.links > a:hover, .login-links > a:hover{
    color: #EF6B6B;
    transition: 0.5s;
}

.m-b-md {
    margin-bottom: 30px;
    display: none;
}

.header-content{
    margin-bottom: 0.5rem;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: #373737;
    font-size: 1rem;
}
h2{
    color: #373737;
    font-size: 1rem;
    margin-bottom: 1rem;
}

h3{
    color: #373737;
    font-size: .9rem;
    margin-bottom: 1rem; 
    text-align: right;
}

.sub-title-header{
    font-size: .7rem;
    color: #373737;
    font-weight: 400;
}
.title-header{
    padding: 1rem 0;
}
.sections{
    margin: 2rem 0;
}
/*Блок с новинками на главной*/
#main-product-section{
  
    width: 100%;
   
}

.comp-industries-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.big-prod{
    width: 70%;
    position: relative;
}
.big-prod img{
    width: 100%;
    height: 100%;
}
.info-lan{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 20%;
    background: #EEEEEE;
    background: rgba(255, 255, 255, 0.5);
    text-align: right;
    transition: 0.5s;
}
.info-lan p{
    color: #373737;
    z-index: 999;
    opacity: 1;
}

.name-prod{
    font-weight: 600;
    font-size: 0.6rem;
}
.sub-prod{
    font-weight: 400;
    font-size: 0.45rem;
}
.min-prod-block{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.min-prod-item{
    width: 100%;
    position: relative;
}

.min-prod-item .info-lan{
    top: 10%;
    bottom: auto;
  
    text-align: left;
}

.info-lan:hover{
    background: white;
    padding-right: 4rem;
    transition: 0.5s;
}

/*Главный блок товаров*/

.products-main-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product-item img{
  
    margin: auto;
}

.product-item{
    padding: 0.5rem;
    width: 21%;
    border: 1px solid #DADADA;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.product-item:hover{
    transition: 0.5s;
    box-shadow: 0px 10px 15px #DADADA;
}

.product-name{
    color: #373737;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: auto;
}

.price{
    color: #f37f00;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}


/*Футэр*/
footer{
    width: 100%;
    background: #282828;
    height: 10rem;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}

.footer-column{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.footer-column ul li{
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.2rem 0;
}

.footer-column h4{
 
    margin-bottom: 1rem;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    border-bottom: 1px solid #DADADA;
    padding: 0.3rem 0;
}

.column-razr{
    justify-content: flex-end;
}

.razr p{
    font-size: 0.5rem;
    text-align: right;
}


@media screen and (max-width: 1024px)
{


}
@media screen and (max-width: 992px)
{
  
    
}

@media screen and (max-width: 768px){
    

}
@media screen and (max-width: 590px) {
    
    
    
}

@media screen and (max-width: 480px) {
     
}

@media screen and (max-width: 425px)
{
    
}
